*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #394648;
    height: 100vh;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}
main{
    height: 100%;
    padding-top: 40px;
    text-align: center;
}
main>p{
    padding: 40px 0;
}
footer{
    padding-bottom: 20px;
}
.container {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
button{
    border: 1px solid black;
    font-size: large;
    border-radius: 10px;
    padding: 20px 60px;
    background-color: #e3b505;
}
button:hover{
    background-color: #8D98A7;
}
button:active{
    color: white;
    background-color: #394648;
}
a{
    text-decoration: none;
    color: inherit;
}
